@charset "utf-8";
/* CSS Document */


* {margin:0px; padding:0px;}

html { 
	min-height: 100%;
}
body {
	margin: 0;
	min-height: 100%;
	font:14px Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
	background: url('../images/bg.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#000;
}
h1 {padding:10px 0;}

p {padding:6px 0 7px 0;}

#logo {
	margin: 0 auto 0 auto;
    padding-top:56px;
	width: 215px;
}
#logo img {
    border:37px solid rgba(255,255,255,0.30);
    -webkit-border-radius: 107px;
    -moz-border-radius: 107px;
    border-radius: 107px;
}

.conteiner {padding:0 10px;}

.join-us {
	position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
	height:200px;
	
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	transition:all 1.0s ease-in-out;
}

.btn {padding-bottom:25px;}
.btn span {
	display:block;
	width:280px;
	margin:0px auto 0 auto;
	height:45px;
	line-height:45px;
	color:#97423b;
	text-decoration:none;
	font-weight:bold;
	font-size:19px;
	cursor:pointer;
	text-align:center;
	border:3px solid #9a423e;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}


.footer {
	position:fixed;
	bottom:-170px;
	top:auto;
	left:0px;
	right:0px;
	height:133px;
	background:rgba(84,31,28,0.9);
	padding-top:37px;
	color:#ead3b3;
	text-align:center;
	font-size:11px;

	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	transition:all 1.0s ease-in-out;
}
.footer .conteiner {
	max-width:560px;
	margin:0 auto;
}
.footer h1 {font-size:12px; font-weight:normal; text-align:left; padding-bottom:6px;}
.footer a {color:#ead3b3; text-decoration:none;}
.footer a:hover {text-decoration:underline;}

.social {padding-bottom:7px;}
.social .link {margin:0 21px; text-decoration:none; display:inline-block; opacity:0.5; position:relative;}
.social .link:hover {text-decoration:none; opacity:1;}
.social .link:hover .tooltip {display:block; bottom:67px;}

.tooltip {
    position:absolute;
    display:block;
    font-size:12px;
    white-space:nowrap;
    bottom:75px;
    left:0px;
    padding:0px;
    margin-left:-72px;
    text-align:center;
    width:200px;
    z-index:88;
    display:none;
}

.footer .nowrap {white-space:nowrap;}

@media screen and (max-width: 640px) {
    #logo {padding-top:30px; width:142px;}
    #logo img {border-width:26px; width:90px; height:90px;}
    .btn span {font-size:18px; width:260px;}
    .social {padding-bottom:0px;}
    .social .link {margin:0 5px;}
	.social .link:first-child {margin-left:none;}
	.social .link:last-child {margin-right:none;}
    .social .link img {width:42px; height:42px;}
    
    .social .link:hover .tooltip {opacity:1; bottom:53px;}
    .tooltip {font-size:10px; margin-left:-79px;}

}
